.container {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
}
.main h1 {
  display: none;
}
.main img {
  width: 15rem;
}
.main > p {
  font-size: 1.8rem;
  font-weight: 300;
  color: #56556e;
  width: 25rem;
  margin-top: 2rem;
  text-align: center;
}
.socials {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.socials a {
  margin: 0.5rem;
  opacity: 0.5;
  font-size: 0.9rem;
}
.socials a:hover {
  opacity: 0.8;
}
