.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo img {
  width: 2.2rem;
}
.nav__logo h1 {
  font-size: 1.76rem;
  font-weight: 600;
  margin-left: 0.5rem;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__list li {
  margin: 0 0.5rem;
}
.nav__list li a {
  padding: 0.4rem;
  font-size: 0.95rem;
  font-weight: 300;
  opacity: 0.7;
  transition: all 0.3s;
}
.nav__list li:hover a {
  opacity: 1;
}
.nav__dl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: #fff;
  padding: 0 2.5rem;
  background: linear-gradient(-145deg, #00bcd4, #9edce4);
  font-size: 1.1rem;
}
.header {
  display: flex;
  background: #56556e;
  height: calc(100vh - 4rem);
}
.buttonsDL {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  margin-top: 1rem;
}
.buttonsDL a {
  margin-top: 0.5rem;
}
.header__vedio {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.header__vedio video {
  border-radius: 15px;
  height: 85%;
  max-width: 90%;
  object-fit: cover;
  /* background: #fff; */
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}
.header__meta {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem 3rem 5rem;
}
.header__meta h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
}
.header__meta .desc {
  margin: 1rem 0;
  color: #fff;
  font-size: 1.2rem;
  width: 80%;
  font-weight: 300;
}
.header__dl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: #fff;
  background: linear-gradient(-215deg, #00bcd4, #9edce4);
  width: 14rem;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(0, 188, 212, 0.07);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.header__dl:hover {
  transform: scale(1.02);
}
.header__dlDesc {
  font-size: 0.8rem;
  color: #fff;
  opacity: 0.8;
  margin: 0.4rem;
  font-weight: 300;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content > section > h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 0 5rem;
}
.features ul {
  width: 60rem;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
.features ul li {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  width: 33%;
  border-bottom: solid 1px var(--border-1);
  border-right: solid 1px var(--border-1);
  justify-content: center;
  transition: all 0.3s;
}
.features ul li:hover {
  background: rgba(0, 188, 212, 0.07);
}
.features ul li:nth-child(3n) {
  border-right: none;
}
.features ul li:nth-child(n + 4) {
  border-bottom: none;
}
.features ul li h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  opacity: 0.9;
  transition: all 0.3s;
}
.features ul li:hover h4 {
  color: var(--color-primary);
  opacity: 1;
}
.features ul li p {
  font-size: 0.9rem;
  color: #56556e;
  font-weight: 300;
}
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 3rem;
  background: #f5f5f5;
}
.preicing__desc {
  max-width: 50%;
  text-align: center;
  opacity: 0.8;
}
.pricing__btns {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem;
}
.pricing__btns a {
  width: 149px;
  height: 44px;
  background: url("../public/media/mac.png") no-repeat center center/ 100% 100%;
  margin: 0 0.7rem;
}
.pricing__btns a.win {
  background: url("../public/media/win.png") no-repeat center center/ 100% 100%;
}
.preicing__price {
  font-size: 1.6rem;
  font-weight: 600;
  background: -webkit-linear-gradient(-220deg, #9edce4, #00bcd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 5rem;
}
.contact > h3 {
  margin-bottom: 1.5rem !important;
}
.contact input,
.contact textarea {
  width: 25rem;
  background: #f5f5f5;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 0.9rem;
  padding: 1rem;
  border: solid 1px var(--border-1);
  font-weight: 300;
  margin: 0.5rem;
}
.contact textarea {
  height: 9rem;
  resize: none;
}
.about {
  display: flex;
  padding: 2rem 0;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
}
.company {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.company img {
  width: 4rem;
  margin-right: 1rem;
}
.company p {
  font-size: 0.7rem;
  opacity: 0.7;
  font-weight: 300;
  width: 9rem;
}
.socials {
  display: flex;
  align-items: center;
}
.socials a {
  font-size: 0.9rem;
  margin: 0 0.5rem;
  color: #1a1a2e;
  opacity: 0.8;
  transition: all 0.3s;
}
.socials a:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .header__meta {
    padding: 1.5rem;
    justify-content: center;
  }
  .header__meta h2 {
    font-size: 4rem;
  }
  .header__vedio {
    flex: 1.4;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 2rem 10%;
    flex: 1;
  }
  .header__meta {
    padding: 1.5rem;
    justify-content: center;
    flex: unset;
  }
  .header__vedio {
    flex: unset;
    margin: 1rem 0;
  }
  .header__vedio video {
    height: auto;
  }
}
@media screen and (max-width: 650px) {
  .nav {
    height: 4rem;
  }
  .nav__dl {
    display: none;
  }
  .features ul {
    width: 100%;
    max-width: 100%;
  }
  .preicing__desc {
    max-width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    height: 6rem;
    flex-direction: column;
    justify-content: center;
  }
  .nav__list {
    margin-top: 0.5rem;
  }
  .header {
    padding: 2rem 5%;
  }
  .header__meta {
    padding: 1rem;
  }
  .features ul li {
    width: 50%;
  }
  .features ul li:nth-child(3n) {
    border-right: solid 1px var(--border-1);
  }
  .features ul li:nth-child(n + 4) {
    border-bottom: solid 1px var(--border-1);
  }
  .features ul li:nth-child(2n) {
    border-right: none;
  }
  .features ul li:nth-child(n + 5) {
    border-bottom: none;
  }
  .pricing__btns a {
    width: 130px;
    height: 35px;
  }
  .preicing__price {
    text-align: center;
    padding: 0 1rem;
    font-size: 1.2rem;
  }
  .about__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .socials {
    margin-top: 1.5rem;
  }
  .header__meta h2 {
    font-size: 3rem;
  }
  .header__meta .desc {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
