html {
  font-size: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  --color-primary: #00bcd4;
  --color-primary-rgb: 0, 188, 212;
  --color-primary-light: #9edce4;
  --color-primary-light-rgb: 178, 235, 242;

  --color-1: #fff;
  --color-2: #1a1a2e;
  --color-3: #f5f5f5;
  --color-4: #56556e;

  --border-1: rgb(214, 214, 214);

  --text-1: #101010;
  --text-2: #9ea3b9;
  --text-3: #fff;

  --shadow-1: 0 0.9em 3.2em rgba(0, 0, 0, 0.12);
  --margin-container: 8rem;

  font-family: Poppins, sans-serif;
  color: #1a1a1a;
  font-weight: 400;
  background: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.4;
}
.container {
  max-width: 76rem;
  width: calc(100% - var(--margin-container));
  margin: 0 auto;
  position: relative;
}

/* ----------Media Queries---------- */
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1200px) {
  :root {
    --margin-container: 6rem;
  }
  html {
    font-size: 97%;
  }
}
@media screen and (max-width: 992px) {
  :root {
    --margin-container: 4rem;
  }
  html {
    font-size: 94%;
  }
  body {
    overscroll-behavior-y: none;
  }
  *:not(input),
  *:not(textarea) {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 91%;
  }
  :root {
    --margin-container: 2rem;
  }
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 480px) {
  html {
    font-size: 88%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 85%;
  }
}
